<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">


<div layout:fragment="content">

    <a class="btn btn-primary" href="/addNewBook">Add new book</a>


    <table class="table table-striped">
        <thead>

        <tr>
            <th>#</th>
            <th>Name_Book</th>
            <th>Author</th>
            <th>Publishing_House</th>

        </tr>

        </thead>
        <tbody>

        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.nameBook}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publishingHouse}"></td>
            <td>
                <a th:href="@{'/{id}/deleteBook'(id=${book.id})}" class="delete" th:attr="name=${book}">
                        <span class="fa-stack">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                </a>
            </td>
            <td>
                <a th:href="@{'/{id}/editBook'(id=${book.id})}" class="edit" th:attr="name=${book}">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>

                </a>
            </td>
        </tr>

        </tbody>
    </table>
    <a class="btn btn-primary" href="/addNewReader">Add new reader</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Full_Name</th>
            <th>Has_Book</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="reader : ${readers}">
            <td th:text="${reader.id}"></td>
            <td th:text="${reader.fullName}"></td>
            <td th:text="${reader.hasBook}"></td>

            <td>
                <a th:href="@{'/{id}/deleteReader'(id=${reader.id})}" class="delete" th:attr="name=${reader}">
                        <span class="fa-stack">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                </a>
            </td>
            <td>
                <a th:href="@{'/{id}/editReader'(id=${reader.id})}" class="edit" th:attr="name=${reader}">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>

                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="/addNewBookLeading">Take a book</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Book_Name</th>
            <th>Reader_Full_Name</th>
            <th>Date_Took</th>
            <th>Date_Back</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bookLeading : ${bookLeadings}">
            <td th:text="${bookLeading.id}"></td>
            <td th:text="${bookLeading.book.nameBook}"></td>
            <td th:text="${bookLeading.reader.fullName}"></td>
            <td th:text="${bookLeading.dateTook}"></td>
            <td th:text="${bookLeading.dateBack}"></td>

            <td>
                <a th:href="@{'/{id}/deleteBookLeading'(id=${bookLeading.id})}" class="delete"
                   th:attr="name=${bookLeading}">
                        <span class="fa-stack">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</html>
